<%include ../partials/header%>    

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Appointment List </p>
            <div class="list-group">
                <li class="list-group-item active">Info </li>
                
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= appointment.image %>">
                <div class="caption-full">
                    
                    <h4><a><%=appointment.name%></a></h4>
                    <p><%= appointment.description %></p>
                    <p>
                        <em>Submitted by: <%= appointment.author.username %>, <%= moment(appointment.createdAt).fromNow() %></em>                   
                    </p>
                    <% if (currentUser && appointment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin ) { %>
                        <a class="btn btn-xs btn-warning" href="/appointment/<%=appointment._id%>/edit">Edit</a>
                        <form id="deleteForm" action="/appointment/<%=appointment._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/appointment/<%= appointment._id %>/reply/new">Add New Reply</a>
                </div>
                <hr>
                <% appointment.reply.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p>
                                <%= comment.text %> 
                            </p>
                        <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                            <a class="btn btn-xs btn-warning" href="/appointment/<%=appointment._id%>/reply/<%=comment._id%>/edit">Edit</a>
                            <form id="deleteComment" action="/appointment/<%=appointment._id%>/reply/<%=comment._id%>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-danger btn-xs" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
</body>